*{margin:0;padding:0;}
.main_all{width:693px;height:auto;border:1px solid #000;margin:0 auto;color:#000;font-family:"SimSun";padding-bottom:20px;position:relative;}
.main_all em,.main_all i,.main_all samp{ font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
h3,h4{margin:10px 0 5px;}
.topBox{width:693px;height:90px;clear:both;overflow:hidden;zoom:1;}
.topBox .cz_logo{width:190px;height:50px;display:block;margin:10px 0 0 10px;float:left;}
.topBox h2{font-size:26px;width:200px;height:30px;display:block;float:right; font-weight:300;margin:25px 0 0 0;}
.topBox img.zhang{position:absolute;left:200px;top:86px;}
.topBox a{text-decoration:none;}
.topBox p{font-family:"SimSun";font-size:12px;width:673px;height:30px;line-height:30px;clear:both; margin-left:10px;display:block;}
.telBox{width:673px;height:auto;padding:10px 0 10px 0;border-top:1px solid #000;margin-left:10px;clear:both;overflow:hidden;zoom:1;}
.telBox li{width:673px;height:25px;line-height:25px;clear:both;overflow:hidden;list-style:none;}
.telBox li span{width:60px;height:25px;float:left;font-size:14px;font-family:SimSun;display:block;}
.telBox li em{width:200px;height:25px;float:left;display:block;font-size:14px;font-family:SimSun;}
.ddxxBox{width:673px;height:auto;padding:15px 0 10px 0;border-bottom:2px solid #000;border-top:2px solid #000;margin-left:10px;clear:both;overflow:hidden;zoom:1;}
.ddxxBox h3{width:673px;height:20px;line-height:20px;font-size:16px;font-family:SimSun;display:block;}
.krxxList{width:673px;height:auto;overflow:hidden;clear:both;padding:10px 0 10px 0;}
.krxxList li{width:673px;height:25px;line-height:25px; list-style:none;font-family:SimSun;font-size:12px;}
.rzxxList{width:673px;height:auto;}
.tstdBox{border-bottom:1px solid #000;}
.rzxxList tr td{font-size:12px;font-family:SimSun;} 
.bzxxBox{width:673px;height:auto;overflow:hidden;zoom:1;margin-top:10px;}
.bzxxBox span{width:673px;height:auto;line-height:25px;font-size:12px;font-family:SimSun;display:block;}
.bzxxBox .xxspan{height:12px;width:673px;line-height:12px;display:block;overflow:hidden;}
.qzqyBox{width:673px;height:auto;overflow:hidden;zoom:1;margin-left:10px;margin-top:20px;}
.qzqyBox p{width:673px;line-height:25px;height:auto;font-size:12px;font-family:SimSun;}
.qzqyBox p .xhxBox{display:block;width:200px;height:24px;line-height:24px;border-bottom:1px solid #000;float:left}
.qzqyBox p .xhxBox1{display:block;width:100px;height:24px;line-height:24px;border-bottom:1px solid #000;float:left}
.qzqyBox p .tswzBox{display:block;width:140px;height:25px;float:left;overflow:hidden;}
.qzqyBox p .tswzBox1{display:block;height:25px;float:left;overflow:hidden;}
.qrquBox{display:block;height:25px;width:673px;overflow:}
.qrquBox i{width:10px;height:10px;border:1px solid #000;float:left;margin:7px 0 0 0;}
.qrquBox samp{width:80px;height:25px;line-height:25px;float:left;font-size:12px;font-family:SimSun;margin-left:5px;}
.qzqyBox p .kkqy{margin-left:100px;}
.wmqkBox{width:673px;height:auto;border-top:1px solid #000;margin:15px 0 0 10px;}
.wmqkBox p{width:673px;line-height:25px;height:auto;font-size:12px;font-family:SimSun;margin-top:10px;}

.checkboxon{
	background: url(http://pic.lvmama.com/img/v4/hotel-icon.png) no-repeat;
	_background: url(http://pic.lvmama.com/img/v4/hotel-icon8.png) no-repeat;
	display: inline-block;
	width: 13px;
	height: 13px;
	background-position: 0 -136px;
}

.togetherContentBox{
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	padding:0 0 20px 0;
}

.togetherContentBox h3{width:573px;line-height:20px;height:auto;font-size:14px;font-family:SimSun;}